@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

/* color styles */
$color-white: #fcf6dd;
$color-black: #000;
$color-gray-100: #f8f8f8;
$color-gray-200: #ebebeb;
$color-blue: #17282c;
$color-red: #DA654B;
$color-yellow:#F0A94D;

$basefont: "Mouse Memoirs", sans-serif;