@use './partials/_variables.scss' as *;

$fa-font-path: '../fonts/webfonts';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: $basefont;
    #app {
        height: 100vh;
        width: 100%;
        background-color: $color-white;
        background-image: url(/images/background-jumbo.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
}

h1 {
    color: $color-gray-200;
}

main{
    height: 100%;
    width: 100%;
}